<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atomic Scala</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  </head>
  <body>
    <div class="cover-container uk-inline" style="background-image: url({{ .Site.BaseURL }}images/atomic-cover2.jpg)">
      <div class="cover-content">
        <img src="{{ .Site.BaseURL }}images/car.png" alt="">

        <div class="uk-position-center">
          {{partial "cover_text.html" | print | markdownify}}
          <div class="">
            <a class="uk-button uk-button-primary" href="https://gumroad.com/l/AtomicScala">BUY NOW</a>
            <a class="uk-button uk-button-more" href="#">LEARN MORE <span uk-icon="icon: chevron-down"></span></a>
          </div>
        </div>
      </div>
      <div class="uk-flex uk-flex-right">
          <div class="uk-visible@l uk-navbar-container uk-navbar-transparent tm-navbar" uk-navbar>
            <div class="uk-navbar-center">
              <ul class="uk-navbar-nav">
                <li><a href="#features-list" uk-scroll>The Book</a></li>
                <li><a href="#endorsments" uk-scroll>Endorsements</a></li>
                <li><a href="#authors" uk-scroll>The Authors</a></li>
                <li><a href="https://gumroad.com/l/AtomicScala" class="uk-button uk-button-primary">BUY NOW</a></li>
              </ul>
            </div>
          </div>
          <div class="uk-width-1-3 uk-hidden@l"><span class="uk-float-right" uk-icon="icon: menu"></span></div>
        </div>
    </div>
    <div id="features-list" class="features">
      <div class="feature uk-container">
        <div class="feature-image">
          <img src="{{ .Site.BaseURL }}images/feature1.png" alt="" uk-scrollspy="cls:uk-animation-fade; repeat: true">
        </div>
        <div class="feature-description" uk-scrollspy="cls:uk-animation-fade; repeat: true">
          {{partial "feature1.html" | print | markdownify}}
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature uk-container">
        <div class="feature-image">
          <img src="{{ .Site.BaseURL }}images/feature2.png" alt="" uk-scrollspy="cls:uk-animation-fade; repeat: true">
        </div>
        <div class="feature-description" uk-scrollspy="cls:uk-animation-fade; repeat: true">
          {{partial "feature2.html" | print | markdownify}}
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature uk-container">
        <div class="feature-image">
          <img src="{{ .Site.BaseURL }}images/feature3.png" alt="" uk-scrollspy="cls:uk-animation-fade; repeat: true">
        </div>
        <div class="feature-description" uk-scrollspy="cls:uk-animation-fade; repeat: true">
          {{partial "feature3.html" | print | markdownify}}
        </div>
      </div>
    </div>
    <div class="book-sample-container">
      <div class="book-sample-content uk-animation-toggle">
        <img class="image-small" src="{{ .Site.BaseURL }}images/rocket-small.png" alt="" uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat: true">
        <img class="image-medium" src="{{ .Site.BaseURL }}images/rocket.png" alt="" uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat: true">
        <div uk-scrollspy="cls:uk-animation-fade; repeat: true">
          <h2>Start now with a sample</h2>
          <a href="http://www.mindviewinc.com/Books/AtomicScala/AtomicScala2ndEdition-Sample.zip" class="uk-button uk-button-primary">Download sample</a>
        </div>
      </div>
    </div>

    <div id="endorsments">
      <h2>Endorsements</h2>
      <div class="slideshow">
        <div>
          {{partial "quote1.html" | print | markdownify}}
        </div>
        <div>
          {{partial "quote2.html" | print | markdownify}}
        </div>
        <div>
          {{partial "quote3.html" | print | markdownify}}
        </div>
      </div>
    </div><!-- endorsments-block -->

    <div id="authors" class="authors">
      <h1>About the Authors</h1>
      <div class="author uk-container">
        <img src="{{ .Site.BaseURL }}images/bruce.jpg" alt="">
        <div class="author-info">
          {{partial "bio_bruce.html" | print | markdownify}}
        </div>
      </div>
      <div class="author uk-container">
        <img src="{{ .Site.BaseURL }}images/diane.jpg" alt="">
        <div class="author-info">
          {{partial "bio_diane.html" | print | markdownify}}
        </div>
      </div>
    </div><!-- Authors -->

    <footer class="uk-container">
      <p>Copyright © 2017 MindView LLC. All rights Reserved. Illustrations by John Lucas</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".slideshow").slick({
          autoplay: true,
          dots: true,
        });
      });
    </script>
  </body>

</html>
