## Diane Marsh

Dianne Marsh is the Director of Engineering for the Engineering Tools team at Netflix. Her team builds the tools used by nearly all engineers in the company for continuous integration, delivery and deployment to the AWS cloud. In addition to internal use, several of their tools have been released as open source.

Dianne also enjoys speaking at a few technical conferences each year.

Dianne earned a Master of Science degree in computer science from Michigan Technological University.
